.register {
        background-color: #FFDEE9;
background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
}

#logoApp {
        font-size: 60px;
        color:teal;
        font-family: 'Akronim', cursive;
        padding: 100px 0px 100px 0px;
}
.signup{
        color:teal;
        font-family: cursive;
}
#sbtn{
       background-color: teal; 
       color: azure;
       font-family:cursive;
}